/* CSS */

p{ line-height: 2em; }
h1, h2, h3, h4{
    color: black;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 250%; }
h2{ font-size: 1.5em; }
#p1{ font-size: 1.2em; }

a{
	color: black;
    font-weight: bold;
	text-decoration: underline;
}

#nameLink{
	color: black;
    font-weight: bold;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: overline; }

body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
    font-weight: normal;
}

.page{ 
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 2%;
}


.name { 
    	
	font-family: georgia;
    overflow: hidden;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        type 3s steps(1000, end);
}

@keyframes type {
  from { width: 0 }
  to { width: 100% }
}


img {
    width: 40%;
    height: 40%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}


/*
.imageAndButtons {
    display: inline-block;
    align-content: center;
    text-align: center;
}
*/


.mainContent{
    align-content: center;
    text-align: center;
	margin-top: 1%;
	background: white;
	padding: 20px;
	clear: both;
    display: block;
    overflow: auto;
}
    .mainContent #p1 {
        display: inline-block;
        text-decoration:none;
        background-color: lightsteelblue;
        border-radius:5px;
        color:#fff;
        padding:10px 10px 10px 10px;
    }

    a {
        display: inline-block;
        text-decoration:underline;
        background-color: white;
        border-radius:5px;
        margin-left: 4%;
        padding:10px 10px 10px 10px;
    }

    a {
        display: inline-block;
        text-decoration:underline;
        background-color: #eee;
        border-radius:5px;
        margin-right: 4%;
        padding:10px 10px 10px 10px;
    }

.footer{
	border-bottom: 1px #ccc solid;
}
	.footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}

.mainContent,
ul li a{ box-shadow: 0px 1px 1px #999; }

